@charset "UTF-8";

body{
    background-color: rgb(60, 131, 255);
    font: normal 15pt Arial;
}

header{
    color: aliceblue;
    text-align: center;
    margin: 30px;
    font-weight: bolder;
}
section{
    background-color: aliceblue;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.348);
}
footer{
    color: aliceblue;
    font-style:italic;
    text-align: center;
}

div#cor{
    font-size: 15px;
    background-color: aliceblue;
    width: 190px;
    border-radius: 8px;
    padding: 5px;
    
}